body {
    background: url(https://pm1.narvii.com/6406/8d8315411fc4774d59419a8aa996e1b9d6ef65ef_hq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(230, 22, 115);
    font-size: 60px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    color: rgb(240, 105, 166);
    font-size: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h4 {
    color: rgb(240, 105, 166);
    font-size: 50px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h5 {
    color: rgb(240, 105, 166);
    font-size: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
    width : 60%;
    border : 5px solid rgb(128, 81, 78);
    color: rgb(255,255,255);
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin: auto;
    padding: 20px;
}
input{
    border-radius: 40%;
    width: 20px;
    height: 20px;
    text-decoration-color: white;
}
button,a {
    border: 2px solid white;
    font-size: 25px;
    padding: 10px;
    margin: 0 auto;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
button {
    transition-duration: 0.4s;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
.spinner {
    width: 2em;
    font-size: 30px;
}

#Source {
    color: #2ecc71;
}

#Destination {
    color: #e74c3c;
}

#obstacles {
    color: #bdc3c7;
}
